@model InAndOut.Models.Expense
@{
    ViewData["Title"] = "Update";
}

<h1>@ViewData["Title"]</h1>
<form method="post" asp-action="Update">
    <div class="container p-3">
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        <label asp-for="ExpenseName"></label>
                    </th>
                    <th>
                        <label asp-for="Amount"></label>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="30%">
                        <input asp-for="ExpenseName" class="form-control" />
                    </td>
                    <td width="30%">
                        <input asp-for="Amount" class="form-control" />
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row pt-4">
            <div class="col-6 text-right">
                <input type="submit" class="btn btn-info w-25" value="Update" />
            </div>
            <div class="col-6">
                <a class="btn btn-danger w-25" asp-action="Index">Go back</a>
            </div>
        </div>
    </div>
</form>

